

header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    font-size: 24px;
    
}
a{
    text-decoration: none;
}
.nav>a{ 
    margin-left: 57px;
}